numpy
pandas
scikit-learn
sklearn
pickle4
git+https://github.com/gstaff/flask-ngrok
flask==0.12.2
Flask-Bootstrap==3.3.7.1
gunicorn
pillow
torch
torchvision
torchaudio
cloud-tpu-client==0.10
# https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.9-cp37-cp37m-linux_x86_64.whl
